In [1]:
!pip install duckdb
!pip install psycopg2
!pip install sqlalchemy

Collecting duckdb

WARNING: You are using pip version 20.2.3; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\users\yosia\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

  Downloading duckdb-0.7.1-cp38-cp38-win_amd64.whl (9.5 MB)
Installing collected packages: duckdb
Successfully installed duckdb-0.7.1
Collecting psycopg2

WARNING: You are using pip version 20.2.3; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\users\yosia\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

  Downloading psycopg2-2.9.5-cp38-cp38-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.5
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.5.post1-cp38-cp38-win_amd64.whl (2.0 MB)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\yosia\appdata\local\programs\python\python38\lib\site-packages (from sqlalchemy) (4.4.0)
Collecting greenlet!=0.4.17; platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32")))))
  Downloading greenlet-2.0.2-cp38-cp38-win_amd64.whl (192 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-2.0.2 sqlalchemy-2.0.5.post1

WARNING: You are using pip version 20.2.3; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\users\yosia\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [1]:
import sqlalchemy as sa

engine = sa.create_engine('postgresql://postgres:postgres@localhost:5433/postgres')

In [1]:
print(9)

9

In [2]:
import pandas as pd

df = pd.read_csv('entity.csv',dtype=str)

In [3]:
#insert to postgres
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5433/postgres')
df.to_sql('entity', engine,if_exists='replace',chunksize=1000)

27784055

In [6]:
import duckdb

df_head = df.head()

# create the table "my_table" from the DataFrame "my_df"
duckdb.sql("CREATE TABLE entity AS SELECT * FROM df_head")

# insert into the table "my_table" from the DataFrame "my_df"
duckdb.sql("INSERT INTO entity SELECT * FROM df")

CatalogException: Catalog Error: Table with name "entity" already exists!

In [4]:
df_head

,nama,nik,tempatLahir,jenisKelamin,tps,provinsi,kab_kota,kecamatan,desa
0,AI POPON,320416540758****,BANDUNG,P,1,JAWA BARAT,BANDUNG,ARJASARI,ANCOLMEKAR
1,KOMALA,320416440470****,BANDUNG,P,1,JAWA BARAT,BANDUNG,ARJASARI,ANCOLMEKAR
2,"WATI,",320416410784****,BANDUNG,P,1,JAWA BARAT,BANDUNG,ARJASARI,ANCOLMEKAR
3,MAMAN SUPARMAN,320416110374****,BANDUNG,L,1,JAWA BARAT,BANDUNG,ARJASARI,ANCOLMEKAR
4,SUSI SUSANTI,320416440296****,BANDUNG,P,1,JAWA BARAT,BANDUNG,ARJASARI,ANCOLMEKAR

In [7]:
duckdb.sql("DROP TABLE entity")

In [1]:
import duckdb
import pandas as pd
from tqdm import tqdm

df = pd.read_csv('entity.csv',dtype=str)
df_head = df.head()

con = duckdb.connect('entity_duck.db')
# create the table "my_table" from the DataFrame "my_df"
con.sql("CREATE TABLE IF NOT EXISTS entity AS SELECT * FROM df_head")

chunk_size = int(df.shape[0] / 1000)
for start in tqdm(range(0, df.shape[0], chunk_size)):
    df_subset = df.iloc[start:start + chunk_size]

    # insert into the table "my_table" from the DataFrame "my_df"
    con.sql("INSERT INTO entity SELECT * FROM df_subset")

100%|██████████| 1001/1001 [01:37<00:00, 10.24it/s]

In [28]:
target = 5

for i in range(target*2):
    if i > target-1:
        temp_target = i - target + 1
    else:
        temp_target = target - i

    row = ' '*(target-temp_target)
    for j in range(1,temp_target+1):
        row = row+str(j)
    for j in range(1,temp_target+1):
        row = row+str(temp_target-j+1)
    print(row)

1234554321
 12344321
  123321
   1221
    11
    11
   1221
  123321
 12344321
1234554321

In [76]:
target = 5

chunks = []
for i in range(target):
    chunk = list(map(str,range(1,target+1-i)))
    chunk += chunk.__reversed__()
    chunks.append(''.join([' '*i]+chunk))
chunks += chunks.__reversed__()
print('\n'.join(chunks))

1234554321
 12344321
  123321
   1221
    11
    11
   1221
  123321
 12344321
1234554321

In [113]:
target = 5

row = [abs(x) for x in range(-target, target+1) if x != 0]
for x in row:
    print(''.join([str(x+1-i) if x+1-i > 0 else ' ' for i in row]))

1234554321
 12344321
  123321
   1221
    11
    11
   1221
  123321
 12344321
1234554321

In [122]:
target = 5

for row in list(range(1, target+1)) + list(reversed(range(1, target+1)))

[1, 2, 3, 4, 5, 5, 4, 3, 2, 1]