### Exploration
- all name V

### column
nama, nik, tempatLahir, jenisKelamin, tps, provinsi, kab_kota, 

kecamatan, desa, newcomer, nama_sunda, nama_jawa, nama_batak, 

bintang, inisial_r, nama_kristen, umur, tahun_lahir, tanggal_produksi, 

hari_produksi, unique_location, unique_hash, lat, long, count, unique_location:1,

 lat:1, long:1, lat_clean, long_clean

In [1]:
import pandas as pd
import plotly.graph_objects as go

In [2]:
df = pd.read_csv('name_composition.csv')
df

          source   target  value
0            AEP   SAEPUL   1485
1         SAEPUL    MALIK    869
2           RUDI  SUNDARI      3
3           ACEP      AAM      8
4          SARAH    YULIA      8
...          ...      ...    ...
7408748      IDA   MUNUMG      1
7408749    WILSA     NOVA      1
7408750     DEAN  RAMADAN      1
7408751  SUKATMA   ISMAIL      1
7408752       NY    JENAB      1

[7408753 rows x 3 columns]

In [10]:
name_nodes_df_filtered = df.sort_values('value',ascending=False).head(20)
name_nodes_df_filtered

      source    target  value
1051    SITI    AMINAH  22503
13      SITI     AISAH  22474
768      SRI    RAHAYU  21051
1469   ABDUL    ROHMAN  18251
389     SITI    AISYAH  18048
6       SITI  NURJANAH  17549
4932     SRI   WAHYUNI  16400
2172    SITI   FATIMAH  15591
1305    IWAN  SETIAWAN  15022
319   RAHMAT   HIDAYAT  14219
425      SRI   MULYANI  14018
915    WAWAN  SETIAWAN  13130
1744    SITI    ROHMAH  12835
1275    SITI   MASITOH  12193
1448    ASEP  SAEPUDIN  11969
875     EMAN  SULAEMAN  11802
219     AJAT  SUDRAJAT  11371
2901     SRI   MULYATI  11326
831      IDA    FARIDA  10926
2245    SITI   PATIMAH  10827

In [11]:
import plotly.graph_objects as go
import pandas as pd

# Sample DataFrame
sample_df = pd.DataFrame({
    'source': ['Node A', 'Node A', 'Node B', 'Node C', 'Node C'],
    'target': ['Node B', 'Node C', 'Node D', 'Node E', 'Node F'],
    'value': [10, 5, 15, 8, 12]
})

# Define nodes and links
nodes = pd.unique(name_nodes_df_filtered[['source', 'target']].values.ravel('K'))
links = name_nodes_df_filtered[['source', 'target', 'value']]

# Create Sankey diagram
fig = go.Figure(data=[go.Sankey(
    node=dict(
        pad=15,
        thickness=20,
        line=dict(color='black', width=0.5),
        label=nodes
    ),
    link=dict(
        source=links['source'].map(lambda x: nodes.tolist().index(x)),
        target=links['target'].map(lambda x: nodes.tolist().index(x)),
        value=links['value']
    )
)])

# Customize the appearance of the diagram
fig.update_layout(title_text='Sankey Diagram', font=dict(size=12))

# Show the plot
fig.show()

In [3]:
names = pd.read_csv('names.csv')
names.head(3)

,nama,unique,1stname,2ndname,3rdname,4thname,5thname,lastname1,lastname2,lastname3,lastname4,lastname5
0,NYANYAH,NaN,NYANYAH,NaN,NaN,NaN,NaN,NYANYAH,NaN,NaN,NaN,NaN
1,JALALUDIN,NaN,JALALUDIN,NaN,NaN,NaN,NaN,JALALUDIN,NaN,NaN,NaN,NaN
2,AEP SAEPUL MALIK,AEP,AEP,SAEPUL,MALIK,NaN,NaN,MALIK,SAEPUL,AEP,NaN,NaN

In [21]:
name_nodes = {}
def create_node(row,key1,key2):
    return dict(
                source=row[key1],
                target=row[key2],
                value=1
            )
def name_nodes_append(name_nodes,row,key1,key2):
    if type(row[key1]) == str and type(row[key2]) == str:
        key = row[key1]+'_'+row[key2]
        if key not in name_nodes:
            name_nodes[key] = create_node(row,key1,key2)
        else:
            name_nodes[key]['value'] += 1

    return name_nodes

for id,row in names[['lastname1','lastname2','lastname3','lastname4','lastname5']].iterrows():
    name_nodes = name_nodes_append(name_nodes,row,'lastname1','lastname2')
    name_nodes = name_nodes_append(name_nodes,row,'lastname2','lastname3')
    name_nodes = name_nodes_append(name_nodes,row,'lastname3','lastname4')
    name_nodes = name_nodes_append(name_nodes,row,'lastname4','lastname5')

    
name_nodes_df = pd.DataFrame([name_nodes[key] for key in name_nodes])
name_nodes_df

            source    target  value
0            MALIK    SAEPUL    484
1           SAEPUL       AEP    817
2          SUNDARI      RUDI      2
3              AAM      ACEP      4
4            YULIA     SARAH      6
...            ...       ...    ...
5289903  FACHRIZAL     RATNO      1
5289904   RAHARDJO  TJAHYONO      1
5289905     AHADIN     FAJAR      1
5289906   SHOLIHAH   THOATIN      1
5289907    THOATIN     KHORI      1

[5289908 rows x 3 columns]

In [22]:
name_nodes_df.to_csv('name_composition2.csv',index=False)

In [2]:
name_nodes_df = pd.read_csv('name_composition2.csv')
name_nodes_df.head(2)

   source  target  value
0   MALIK  SAEPUL    484
1  SAEPUL     AEP    817

In [25]:
names['lastname1'].value_counts(ascending=False).head(15)

lastname1
HIDAYAT      107315
SETIAWAN      88841
NURHAYATI     86235
SARI          84426
GUNAWAN       61690
MAULANA       54404
SUPRIATNA     52573
S             50883
SUMIATI       50428
MULYANA       50407
SAEPUDIN      48975
LESTARI       48961
SURYANA       48239
SAPUTRA       48023
HERMAWAN      48017
Name: count, dtype: int64

In [90]:
from tqdm import tqdm
def find_name_leaf(lastname1=None,lastname2=None,lastname3=None,lastname4=None,size=5):
    names_chunk = pd.DataFrame()
    filter_name = 'lastname1'
    if lastname1 == None:
        names_chunk = names.copy()
    if lastname1:
        names_chunk = names[names['lastname1']==lastname1[0]]
        filter_name = 'lastname2'
    if lastname2:
        names_chunk = names_chunk[names_chunk['lastname2']==lastname2[0]]
        filter_name = 'lastname3'
    if lastname3:
        names_chunk = names_chunk[names_chunk['lastname3']==lastname3[0]]
        filter_name = 'lastname4'
    if lastname4:
        names_chunk = names_chunk[names_chunk['lastname4']==lastname4[0]]
        filter_name = 'lastname5'
    
    return names_chunk[filter_name].value_counts(ascending=False).head(size).items()
        
top_target = {}
root_names = find_name_leaf()
for root_name in tqdm(root_names):
    if root_name not in top_target:
        top_target[root_name] = {}

    root_names2 = find_name_leaf(lastname1=root_name)
    for root_name2 in root_names2:
        if root_name2 not in top_target[root_name]:
            top_target[root_name][root_name2] = {}

        root_names3 = find_name_leaf(lastname1=root_name,lastname2=root_name2)
        for root_name3 in root_names3:
            if root_name3 not in top_target[root_name][root_name2]:
                top_target[root_name][root_name2][root_name3] = {}

            root_names4 = find_name_leaf(lastname1=root_name,lastname2=root_name2,lastname3=root_name3)
            for root_name4 in root_names4:
                root_names5 = find_name_leaf(lastname1=root_name,lastname2=root_name2,lastname3=root_name3,lastname4=root_name4)
                root_names5 = [x for x in root_names5]
                if root_name4 not in top_target[root_name][root_name2][root_name3]:
                    top_target[root_name][root_name2][root_name3][root_name4] = root_names5


top_target

5it [09:23, 112.72s/it]

{('HIDAYAT',
  172827): {('RAHMAT', 13974): {('ASEP', 270): {},
   ('ADE', 127): {},
   ('DEDE', 123): {},
   ('AGUS', 82): {},
   ('UJANG', 75): {}}, ('TAUFIK', 8481): {('MUHAMAD', 138): {},
   ('ASEP', 91): {},
   ('MUHAMMAD', 83): {('ASEP', 1): []},
   ('AHMAD', 62): {('ASEP', 1): []},
   ('AGUS', 40): {('MOHAMAD', 1): []}}, ('SARIP', 5225): {('ASEP', 159): {},
   ('YAYAT', 69): {('U', 1): [], ('RD', 1): []},
   ('IIP', 63): {('ASEP', 1): []},
   ('DEDE', 62): {},
   ('AHMAD', 54): {}}, ('YAYAT', 4898): {('ASEP', 27): {},
   ('ADE', 17): {('M', 1): []},
   ('UJANG', 10): {},
   ('H', 10): {},
   ('DEDEN', 6): {}}, ('AHMAD', 4353): {('ASEP', 91): {},
   ('YAYAT', 52): {},
   ('DEDE', 42): {},
   ('ADE', 33): {},
   ('UJANG', 31): {}}},
 ('NURHAYATI',
  142130): {('SITI', 7426): {('AI', 109): {('HJ', 1): []},
   ('NENG', 56): {},
   ('IMAS', 27): {},
   ('EUIS', 26): {},
   ('YATI', 22): {}}, ('NUNUNG', 5307): {('HJ', 17): {('DRA', 1): []},
   ('SITI', 5): {},
   ('DEDE', 5): {},
   ('ADE', 4): {},
   ('AI', 4): {('HJ', 1): []}}, ('AI', 3850): {('SITI', 7): {},
   ('HJ', 7): {},
   ('NENG', 4): {},
   ('ENENG', 3): {},
   ('NENENG', 2): {}}, ('YATI', 3747): {('AI', 12): {},
   ('HJ', 11): {},
   ('ENOK', 5): {},
   ('SITI', 5): {},
   ('ADE', 3): {}}, ('TATI', 2791): {('AI', 25): {},
   ('NENG', 10): {},
   ('HJ', 9): {},
   ('EUIS', 9): {},
   ('ADE', 6): {}}},
 ('SETIAWAN',
  136935): {('IWAN', 14776): {('ASEP', 81): {},
   ('ADE', 25): {('OLLS', 1): []},
   ('DEDE', 23): {},
   ('AGUS', 22): {},
   ('CECEP', 9): {}}, ('WAWAN', 13000): {('ASEP', 98): {('H', 2): []},
   ('ADE', 19): {},
   ('AGUS', 16): {},
   ('DEDE', 10): {},
   ('ACEP', 8): {}}, ('AGUS', 7933): {('WAWAN', 28): {},
   ('MUHAMAD', 27): {},
   ('IWAN', 26): {},
   ('ASEP', 14): {},
   ('DENI', 14): {('IMANUEL', 1): [], ('MOHAMAD', 1): []}}, ('ASEP',
   2704): {('H', 6): {}, ('DRS', 2): {}, ('DENI', 2): {}, ('BUDI',
    2): {}, ('MUHAMMAD', 2): {}}, ('BUDI', 2664): {('ASEP', 30): {},
   ('EKO', 22): {('LOURENSIUS', 1): [], ('SEPTIAN', 1): [], ('R', 1): []},
   ('AGUS', 20): {},
   ('IWAN', 19): {},
   ('AGUNG', 16): {('CAROLUS', 1): []}}},
 ('SARI',
  128651): {('RATNA',
   8573): {('DEWI', 619): {('PUTRI', 4): [],
    ('NENG', 2): [],
    ('SINTA', 2): [],
    ('SITI', 2): [],
    ('NOVITA', 2): []}, ('DESI', 367): {('AI', 3): [],
    ('NENENG', 1): [],
    ('EKA', 1): [],
    ('TRI', 1): [],
    ('DINI', 1): []}, ('SRI', 104): {('SANTI', 4): [],
    ('DEWI', 2): [('SITI', 2)],
    ('EVA', 1): [],
    ('RINI', 1): [],
    ('ENDAH', 1): []}, ('AYU', 84): {('DEWI', 3): [],
    ('SRI', 3): [],
    ('DIAH', 2): [],
    ('IDA', 2): [],
    ('DWI', 2): []}, ('YAYAH', 77): {('AI', 1): []}}, ('PUSPITA',
   7578): {('DEWI', 398): {('SRI', 4): [],
    ('EUIS', 2): [],
    ('IDA', 2): [],
    ('RATNA', 2): [],
    ('ROKIMAH', 2): []}, ('ITA', 163): {('SUMIATI', 1): []}, ('INDAH',
    132): {('PIPIT', 2): [],
    ('OCTORA', 2): [('RATU', 2)],
    ('LIA', 2): [],
    ('NURUL', 1): [],
    ('IIN', 1): []}, ('TITA', 130): {('NENG', 2): [],
    ('DEDE', 1): [],
    ('NEULIS', 1): []}, ('DIAN', 128): {('YUNITA', 1): [],
    ('SANTI', 1): [],
    ('AFRIZA', 1): [],
    ('ANANDA', 1): [],
    ('AYUNDA', 1): []}}, ('PURNAMA',
   5316): {('DEWI', 280): {('SINTA', 3): [],
    ('ANITA', 2): [],
    ('SISKA', 2): [],
    ('SHITA', 2): [],
    ('SHINTA', 2): []}, ('INDAH', 190): {('RATNA', 4): [],
    ('NUR', 4): [],
    ('PUPUT', 2): [],
    ('INTAN', 2): [('NENG', 1)],
    ('DESI', 2): []}, ('ITA', 189): {('DEDE', 1): [],
    ('ROSDAH', 1): [],
    ('DEVI', 1): [],
    ('MAIDA', 1): []}, ('WULAN', 187): {('NUR', 3): [],
    ('DEWI', 2): [],
    ('AYU', 2): [],
    ('SITI', 2): [],
    ('RATNA', 2): []}, ('INTAN', 183): {('DEWI', 5): [],
    ('SANTI', 3): [],
    ('NENG', 3): [],
    ('NUR', 3): [],
    ('DEVI', 2): []}}, ('WULAN',
   4562): {('SRI', 188): {('EUIS', 3): [],
    ('AYI', 2): [],
    ('NENG', 2): [],
    ('IMAS', 2): [],
    ('ISMI', 1): []}, ('DEWI', 142): {('RATNA', 3): [],
    ('IMAS', 2): [],
    ('SRI', 2): [],
    ('ENENG', 1): []}, ('RATNA', 97): {('DESI', 2): [],
    ('NENG', 2): [],
    ('RESTI', 1): [],
    ('LIDIA', 1): [],
    ('SRI', 1): []}, ('SITI', 57): {('ENENG', 2): [], ('NENG', 1): []}, ('NUR',
    51): {('SITI', 2): [],
    ('WULAN', 2): [],
    ('DWI', 1): [],
    ('DEDE', 1): [],
    ('HEVITA', 1): []}}, ('KOMALA',
   4293): {('KOKOM', 228): {('AI', 2): [],
    ('IMAS', 2): [],
    ('NON', 1): [],
    ('SITI', 1): [],
    ('IIS', 1): []}, ('SITI', 154): {('NENENG', 2): [],
    ('AI', 2): [],
    ('RASEM', 1): [],
    ('EUIS', 1): [],
    ('ELA', 1): []}, ('DEWI', 140): {('OMAS', 2): [],
    ('SRI', 2): [],
    ('N', 1): [],
    ('WATI', 1): [('ISMA', 1)],
    ('NR', 1): []}, ('RATNA', 123): {('KOKOM', 2): [],
    ('LILIS', 2): [],
    ('AIT', 2): [],
    ('IMAS', 2): [],
    ('DEVY', 2): []}, ('NUR', 102): {('SITI', 4): [],
    ('DEWI', 2): [],
    ('LALA', 2): [],
    ('FINA', 2): [],
    ('SUSAN', 1): []}}},
 ('GUNAWAN',
  96324): {('WAWAN', 7534): {('ASEP', 24): {},
   ('DEDE', 9): {},
   ('AGUS', 7): {},
   ('MUHAMAD', 7): {},
   ('CECEP', 6): {}}, ('GUGUN', 5099): {('ASEP', 25): {},
   ('MUHAMAD', 6): {},
   ('M', 5): {},
   ('ADE', 5): {},
   ('DEDEN', 4): {}}, ('AGUS', 3800): {('ASEP', 9): {},
   ('WAWAN', 5): {},
   ('DEDE', 4): {},
   ('CEP', 4): {},
   ('ADE', 3): {}}, ('IWAN', 3413): {('ASEP', 23): {},
   ('ADE', 8): {},
   ('DEDE', 7): {},
   ('DEDEN', 4): {},
   ('R', 3): {}}, ('HENDRA', 2902): {('ASEP', 36): {},
   ('AGUS', 19): {('BAMBANG', 1): []},
   ('DEDE', 13): {},
   ('IWAN', 10): {},
   ('ADE', 9): {}}}}

In [91]:
top_target.keys()

dict_keys([('HIDAYAT', 172827), ('NURHAYATI', 142130), ('SETIAWAN', 136935), ('SARI', 128651), ('GUNAWAN', 96324)])

In [63]:
top_target[('HIDAYAT', 172827)].keys()

dict_keys([('RAHMAT', 13974), ('TAUFIK', 8481), ('SARIP', 5225), ('YAYAT', 4898), ('AHMAD', 4353)])

In [61]:
top_target[('HIDAYAT', 107315)][('TAUFIK', 5512)]

KeyError: ('HIDAYAT', 107315)

In [92]:
def formating_name(list_tt):
    full_name = ''
    for tt in list_tt:
        full_name = full_name + tt[0] + '\n'
    
    full_name += '({})'.format(list_tt[0][1])
    return full_name

source_target = []
counter = 0
for tt in top_target:
    source_target.append(dict(
        target = None,
        # source = '(1)'+tt[0],
        source = formating_name([tt]),
        value = tt[1],
        y=counter/len(top_target)
    ))
    counter+=1.0

def clean_name(source_target,param = '(1)'):
    clean_names = []
    for src in source_target:
        src_name = src['source']
        if param not in src_name:
            continue
        else:
            src_name = src_name.replace(param,'')
            clean_names.append(src_name)
    return clean_names

counter = 0
for tt1 in top_target:
    for tt in top_target[tt1]:
        source_target.append(dict(
        # source = '(2)'+tt[0],
        # target = '(1)'+tt1[0],
        source = formating_name([tt,tt1]),
        target = formating_name([tt1]),

        value = tt[1],
        y = counter/len(top_target[tt1])
        ))
        counter+=1.0

counter = 0
for tt1 in top_target:
    for tt2 in top_target[tt1]:
        for tt in top_target[tt1][tt2]:
            source_target.append(dict(
            # source = '(3)'+tt[0],
            # target = '(2)'+tt2[0],
            source = formating_name([tt,tt2,tt1]),
            target = formating_name([tt2,tt1]),

            value = tt[1],
            y = counter/len(top_target[tt1])
            ))
            counter+=1.0
                
            
counter = 0
for tt1 in top_target:
    for tt2 in top_target[tt1]:
        for tt3 in top_target[tt1][tt2]:
            for tt in top_target[tt1][tt2][tt3]:
                source_target.append(dict(
                # source = '(4)'+tt[0],
                # target = '(3)'+tt3[0],        
                source = formating_name([tt,tt3,tt2,tt1]),
                target = formating_name([tt3,tt2,tt1]),

                value = tt[1],
                y = counter/len(top_target[tt1])
                ))
                counter+=1.0
            

# for tt1 in top_target:
#     for tt2 in top_target[tt1]:
#         for tt3 in top_target[tt1][tt2]:
#             for key,tt4 in zip(clean_name(source_target,'(4)'),top_target[tt1][tt2][tt3]):
#                 for tt in top_target[tt1][tt2][tt3][tt4]:
#                     source_target.append(dict(
#                     source = '(5)'+tt[0],
#                     target = '(4)'+key,
#                     value = tt[1]
#                 ))

source_target_df = pd.DataFrame(source_target)
source_target_df.head(2)

  target               source   value    y
0   None    HIDAYAT\n(172827)  172827  0.0
1   None  NURHAYATI\n(142130)  142130  0.2

## First name

In [106]:
from tqdm import tqdm
def find_firstname_leaf(firstname1=None,firstname2=None,firstname3=None,firstname4=None,size=5):
    names_chunk = pd.DataFrame()
    filter_name = '1stname'
    if firstname1 == None:
        names_chunk = names.copy()
    if firstname1:
        names_chunk = names[names['1stname']==firstname1[0]]
        filter_name = '2ndname'
    if firstname2:
        names_chunk = names_chunk[names_chunk['2ndname']==firstname2[0]]
        filter_name = '3rdname'
    if firstname3:
        names_chunk = names_chunk[names_chunk['3rdname']==firstname3[0]]
        filter_name = '4thname'
    if firstname4:
        names_chunk = names_chunk[names_chunk['4thname']==firstname4[0]]
        filter_name = '5thname'
    
    return names_chunk[filter_name].value_counts(ascending=False).head(size).items()
        
top_first_target = {}
root_names = find_firstname_leaf()
for root_name in tqdm(root_names):
    if root_name not in top_first_target:
        top_first_target[root_name] = {}

    root_names2 = find_firstname_leaf(firstname1=root_name)
    for root_name2 in root_names2:
        if root_name2 not in top_first_target[root_name]:
            top_first_target[root_name][root_name2] = {}

        root_names3 = find_firstname_leaf(firstname1=root_name,firstname2=root_name2)
        for root_name3 in root_names3:
            if root_name3 not in top_first_target[root_name][root_name2]:
                top_first_target[root_name][root_name2][root_name3] = {}

            root_names4 = find_firstname_leaf(firstname1=root_name,firstname2=root_name2,firstname3=root_name3)
            for root_name4 in root_names4:
                root_names5 = find_firstname_leaf(firstname1=root_name,firstname2=root_name2,firstname3=root_name3,firstname4=root_name4)
                root_names5 = [x for x in root_names5]
                if root_name4 not in top_first_target[root_name][root_name2][root_name3]:
                    top_first_target[root_name][root_name2][root_name3][root_name4] = root_names5


top_first_target

5it [11:59, 143.82s/it]

{('SITI',
  635073): {('AMINAH',
   19741): {('BT', 169): {('AMAD', 3): [],
    ('AMIN', 3): [],
    ('ADANG', 3): [],
    ('SUEB', 2): [],
    ('ENGGIN', 2): []}, ('BINTI', 41): {('MISAR', 2): [],
    ('TJARLI', 2): [],
    ('AMIT', 2): [],
    ('KASAM', 2): [],
    ('SANUSI', 2): []}, ('HJ', 21): {}, ('LUBIS', 7): {}, ('NASUTION',
    7): {}}, ('AISAH',
   19570): {('BT', 159): {('H', 4): [('MAHIRIN', 2), ('SUNARYA', 2)],
    ('SAIM', 3): [],
    ('DARMA', 3): [],
    ('MURHAN', 2): [],
    ('AMIN', 2): [('RAIS', 2)]}, ('BINTI', 53): {('NAJMUDIN', 2): [],
    ('DEDIH', 2): [],
    ('SANAN', 2): [],
    ('SOBUR', 2): [],
    ('ENDA', 2): []}, ('HJ', 15): {}, ('BIN', 13): {('ACIN', 2): [],
    ('HAJI', 2): [],
    ('KANCRA', 1): [],
    ('IJUDIN', 1): [],
    ('ASAN', 1): []}, ('NURHASANAH', 10): {}}, ('AISYAH',
   15422): {('BT', 76): {('YAHMAN', 2): [],
    ('RASPIN', 2): [],
    ('ZAENAL', 2): [('ABIDIN', 2)],
    ('NARSUM', 2): [],
    ('DUL', 2): [('SALAM', 2)]}, ('BINTI', 24): {('ANIM', 2): [],
    ('WAHID', 2): [],
    ('SALAM', 2): [],
    ('SUBANDI', 1): [],
    ('HANAN', 1): []}, ('NUR', 16): {('FAUZIAH', 2): [],
    ('YUNIATI', 2): [],
    ('RAHAYU', 1): [],
    ('WAHYUNINGSIH', 1): [],
    ('SOFIAH', 1): []}, ('NASUTION', 14): {}, ('AMINI', 12): {}}, ('NURJANAH',
   13962): {('BT', 66): {('MEMED', 2): [],
    ('SAEPUDIN', 2): [],
    ('AYUB', 2): [],
    ('SAMAN', 2): [],
    ('KARTA', 2): []},
   ('BINTI', 12): {('HARIRI', 2): [],
    ('KIRAN', 1): [],
    ('RAHMAT', 1): [],
    ('KARYO', 1): [],
    ('PARNO', 1): []},
   ('S', 4): {},
   ('H', 4): {('M', 1): []},
   ('HJ', 3): {}}, ('FATIMAH',
   12755): {('BT', 71): {('LEBAR', 2): [],
    ('ECING', 2): [],
    ('ULPA', 2): [],
    ('DAKIM', 2): [],
    ('CAYA', 2): []}, ('AZZAHRA', 56): {('ANWAR', 1): []}, ('ZAHRO',
    40): {}, ('ZAHRA', 35): {('TRI', 1): [('UTARI', 1)],
    ('TRIUTARI', 1): [],
    ('BAGADER', 1): [],
    ('IBRAHIM', 1): []}, ('BINTI', 21): {('ALI', 2): [],
    ('AKSAN', 2): [],
    ('RAWAN', 2): [],
    ('SANAN', 2): [],
    ('SATAR', 1): []}}},
 ('ASEP',
  288489): {('SAEPUDIN',
   11808): {('BIN', 80): {('UDIN', 4): [('S', 1), ('SAMSUDIN', 1)],
    ('DAMA', 2): [],
    ('DULOH', 2): [],
    ('ENTANG', 2): [('JUBAEDI', 2)],
    ('DAMAN', 2): [('HURI', 2)]}, ('ZUHRI', 16): {}, ('JUHRI',
    12): {}, ('HIDAYAT', 11): {('RND', 1): []}, ('B', 9): {('TARMIDI', 1): [],
    ('DJAJ', 1): [('P', 1)],
    ('NADMUDIN', 1): [],
    ('KUSMAN', 1): [],
    ('HARUN', 1): []}}, ('SUPRIATNA',
   4691): {('BIN', 15): {('MINON', 2): [],
    ('EDENG', 1): [],
    ('ASMAN', 1): [],
    ('WAWAN', 1): [],
    ('ATING', 1): []}, ('SPD', 3): {}, ('BN', 3): {('RASTA', 2): [],
    ('HASAN', 1): []}, ('AMD', 2): {}, ('HADI', 2): {}}, ('MULYANA',
   4160): {('BIN', 22): {('UDI', 2): [],
    ('NANA', 2): [],
    ('MARTO', 2): [],
    ('SAMSUDIN', 2): [],
    ('RUHAJAT', 1): []}, ('K', 4): {}, ('YUSUP', 4): {}, ('ST',
    3): {}, ('AKBAR', 3): {}}, ('SAEPUL',
   4050): {('ROHMAN', 445): {('ALS', 1): [('UCUP', 1)],
    ('T', 1): [],
    ('BIN', 1): [('ENCAR', 1)]}, ('BAHRI',
    374): {('BIN', 2): [('YUSIN', 1), ('HAPID', 1)], ('FIRMANSYAH',
     1): [], ('B', 1): [('SARBAN', 1)], ('ST', 1): []}, ('ANWAR',
    339): {('H', 2): [], ('SANUSI', 1): [], (',',
     1): [('SH', 1)], ('NURHIDAYAT', 1): [], ('BAHRI', 1): []}, ('MILAH',
    207): {('HIDAYAT', 2): [], ('SIDIQ', 1): []}, ('HIDAYAT',
    144): {('ST', 2): []}}, ('SAEPULOH',
   3891): {('BIN', 9): {('BARJANG', 2): [],
    ('UWES', 1): [],
    ('ACA', 1): [],
    ('SAMSUDIN', 1): [],
    ('DADI', 1): []}, ('HIDAYAT', 9): {}, ('ANWAR',
    5): {('HADI', 1): []}, ('NUGRAHA', 3): {}, ('GOJALI,', 2): {}}},
 ('ADE',
  256033): {('SUPRIATNA',
   2389): {('BIN', 10): {('ACA', 2): [],
    ('YAHYA', 1): [],
    ('BIDIN', 1): [('(ALM)', 1)],
    ('HASANUD', 1): [],
    ('SUTISNA', 1): []}, ('B', 4): {('NAKIM', 2): [],
    ('MUKSIN', 1): [],
    ('ATMAJA', 1): [('M', 1)]}, ('NURYADIN', 2): {}, (',MT', 2): {}, ("'",
    1): {}}, ('SURYANA',
   2365): {('BIN', 11): {('ROHIM', 2): [],
    ('UJU', 1): [],
    ('JAMHUR', 1): [],
    ('MIDI', 1): [],
    ('BAJRI', 1): []}, ('UMAR', 2): {}, ('YASIN', 2): {}, ('SAPUTRA',
    2): {}, ('FATAH', 2): {}}, ('RAHMAT', 2318): {('HIDAYAT', 127): {},
   ('FAUZI', 10): {},
   ('MULYANA', 8): {},
   ('SALEH', 8): {},
   ('KURNIA', 6): {}}, ('IRAWAN',
   2216): {('BIN', 25): {('KALYUBI', 2): [],
    ('SUHAJI', 2): [],
    ('AYUM', 1): [],
    ('SAYI', 1): [],
    ('NAWAWI', 1): []}, ('SAPUTRA', 12): {}, ('SETIAWAN', 5): {}, ('B',
    2): {('DULAMAT', 1): [], ('WARJA', 1): []}, ('NURALAM',
    2): {}}, ('MULYANA',
   1884): {('BIN', 13): {('ANAM', 3): [],
    ('UDIN', 2): [],
    ('ADI', 2): [],
    ('SAMSURI', 1): [],
    ('MAJID', 1): []},
   ('YUSUP', 5): {},
   ('PRATAMA', 2): {},
   ('SAPUTRA', 2): {},
   ('SPD', 2): {}}},
 ('DEDE',
  246211): {('SUPRIATNA',
   2643): {('BIN', 7): {('ADMA', 2): [],
    ('YATNA', 1): [],
    ('JUHARDI', 1): [],
    ('NANA', 1): [('SUARNA', 1)],
    ('RIMAN', 1): []}, ('ALAMSYAH', 2): {}, ('WANADI', 2): {}, ('APRILIAN',
    2): {}, ('YUSUP', 2): {}}, ('SULAEMAN',
   2558): {('BIN', 12): {('ATA', 2): [],
    ('YAKUB', 1): [],
    ('SODLI', 1): [],
    ('IDI', 1): [],
    ('WARDI', 1): []}, ('B', 5): {('SIDIK', 2): [],
    ('KARNA', 1): [],
    ('YUSUP', 1): [('TAZIRI', 1)],
    ('SURLIM', 1): []}, ("MA'RUP", 2): {}, ('RUSDI', 2): {}, ('SAPUTRA',
    2): {}}, ('SITI', 2099): {('NURJANAH', 87): {('ADAWIAH', 1): []},
   ('ROHMAH', 77): {},
   ('AISAH', 70): {},
   ('AMINAH', 65): {},
   ('FATIMAH', 65): {('ZAHROH', 2): []}}, ('RAHMAT',
   1992): {('HIDAYAT', 123): {}, ('KURNIA', 9): {}, ('S', 8): {}, ('H',
    8): {}, ('MULYANA', 5): {}}, ('MULYANA',
   1940): {('BIN', 10): {('DADANG', 2): [],
    ('MADARIP', 2): [],
    ('ENDANG', 1): [('SUDRAJAT', 1)],
    ('SANDI', 1): [],
    ('UJANG', 1): [('AHMAD', 1)]}, ('S', 5): {('PD', 1): []}, ('YUSUP',
    3): {}, ('NASUTION', 2): {}, ('ENTE', 2): {}}},
 ('SRI',
  217163): {('RAHAYU', 13150): {('NINGSIH', 285): {},
   ('LESTARI', 47): {('NINGSIH', 1): []},
   ('BT', 42): {('OYING', 2): [],
    ('SUMANTA', 2): [],
    ('SUHARTO', 2): [],
    ('ASTU', 2): [],
    ('KARTA', 1): []},
   ('UTAMI', 38): {('S', 1): [],
    ('NINGTYAS', 1): [],
    ('SARI', 1): [],
    ('WIDIANSYAH', 1): []},
   ('WULANDARI', 25): {}}, ('WAHYUNI',
   11205): {('BT', 25): {('DAMAN', 3): [],
    ('SOFYAN', 2): [('WAKIDI', 2)],
    ('SUPARNO', 2): [],
    ('BOIN', 1): [],
    ('MIIH', 1): []}, ('RAHAYU', 17): {}, ('HANDAYANI', 14): {}, ('PUJI',
    11): {('ASTUTI', 5): [],
    ('RAHAYU', 2): [],
    ('A', 2): [],
    ('LESTARI', 1): [],
    ('ASUTI', 1): []}, ('UTAMI', 8): {}}, ('MULYANI',
   9432): {('BT', 33): {('WAKAP', 2): [],
    ('NIMIN', 2): [],
    ('RAHMAN', 2): [],
    ('WARISNO', 1): [],
    ('MUMUH', 1): []}, ('RAHAYU', 12): {('HATFIELD', 1): []}, ('PUTRI',
    10): {('SEJATI', 1): []}, ('DEWI', 9): {('YULYATI', 1): []}, ('S',
    6): {('PD', 2): [('I', 2)], ('Pd', 1): []}}, ('MULYATI',
   8579): {('BT', 42): {('H', 6): [('NURDIN', 6)],
    ('SAJIM', 2): [],
    ('SUGANDI', 2): [],
    ('DARTIM', 2): [],
    ('MAIL', 2): [('TASIJAN', 2)]}, ('NINGSIH', 23): {('S', 1): []}, ('RAHAYU',
    11): {}, ('BINTI', 10): {('CARMA', 2): [],
    ('SUPARJO', 2): [('H', 2)],
    ('ANYONG', 1): [],
    ('CASTA', 1): [],
    ('SALIM', 1): []}, ('DEWI', 7): {}}, ('LESTARI',
   4891): {('HANDAYANI', 35): {('S', 1): []}, ('NINGSIH',
    27): {('S', 1): [('KOM', 1)]}, ('RAHAYU', 26): {('NUR', 1): [],
    ('NINGSIH', 1): []}, ('WAHYUNINGSIH', 13): {}, ('BT',
    12): {('SAMAN', 3): [],
    ('SUWANDI', 1): [],
    ('YONO', 1): [],
    ('JUJUN', 1): [('S', 1)],
    ('SUYONO', 1): []}}}}

In [107]:
top_first_target.keys()

dict_keys([('SITI', 635073), ('ASEP', 288489), ('ADE', 256033), ('DEDE', 246211), ('SRI', 217163)])

In [115]:
def formating_firstname(list_tt):
    full_name = ''
    for tt in list_tt:
        full_name = full_name + tt[0] + '\n'
    
    full_name += '({})'.format(list_tt[-1][1])
    return full_name

source_first_target = []
counter = 0
for tt in top_first_target:
    source_first_target.append(dict(
        target = None,
        # source = '(1)'+tt[0],
        source = formating_firstname([tt]),
        value = tt[1],
    ))
    counter+=1.0

def clean_name(source_first_target,param = '(1)'):
    clean_names = []
    for src in source_first_target:
        src_name = src['source']
        if param not in src_name:
            continue
        else:
            src_name = src_name.replace(param,'')
            clean_names.append(src_name)
    return clean_names

counter = 0
for tt1 in top_first_target:
    for tt in top_first_target[tt1]:
        source_first_target.append(dict(
        # source = '(2)'+tt[0],
        # target = '(1)'+tt1[0],
        source = formating_firstname([tt1,tt]),
        target = formating_firstname([tt1]),

        value = tt[1]
        ))
        counter+=1.0

counter = 0
for tt1 in top_first_target:
    for tt2 in top_first_target[tt1]:
        for tt in top_first_target[tt1][tt2]:
            source_first_target.append(dict(
            # source = '(3)'+tt[0],
            # target = '(2)'+tt2[0],
            source = formating_firstname([tt1,tt2,tt]),
            target = formating_firstname([tt1,tt2]),

            value = tt[1]
            ))
            counter+=1.0
                
            
counter = 0
for tt1 in top_first_target:
    for tt2 in top_first_target[tt1]:
        for tt3 in top_first_target[tt1][tt2]:
            for tt in top_first_target[tt1][tt2][tt3]:
                source_first_target.append(dict(
                # source = '(4)'+tt[0],
                # target = '(3)'+tt3[0],        
                source = formating_firstname([tt1,tt2,tt3,tt]),
                target = formating_firstname([tt1,tt2,tt3]),

                value = tt[1]
                ))
                counter+=1.0
            

# for tt1 in top_first_target:
#     for tt2 in top_first_target[tt1]:
#         for tt3 in top_first_target[tt1][tt2]:
#             for key,tt4 in zip(clean_name(source_first_target,'(4)'),top_first_target[tt1][tt2][tt3]):
#                 for tt in top_first_target[tt1][tt2][tt3][tt4]:
#                     source_first_target.append(dict(
#                     source = '(5)'+tt[0],
#                     target = '(4)'+key,
#                     value = tt[1]
#                 ))

source_first_target_df = pd.DataFrame(source_first_target)
source_first_target_df.head(2)

  target          source   value
0   None  SITI\n(635073)  635073
1   None  ASEP\n(288489)  288489

### sankey

In [169]:
nodes = []
def find_position(label):
    if '(1)' in label:
        return 1
    if '(2)' in label:
        return 0.75
    if '(3)' in label:
        return 0.5
    if '(4)' in label:
        return 0.25
    if '(5)' in label:
        return 0
    
for st in source_target:
    if st['source']:
        nodes.append({'label':st['source'],'x':find_position(st['source']),'y':st['y']})
    if st['target']:
        nodes.append({'label':st['target'],'x':find_position(st['source']),'y':st['y']})

def find_nodes(label):
    if not label:
        return ''
    for n in nodes:
        if n['label'] == label:
            return nodes.index(n)
    

links = []
for st in source_target:
    links.append({
        'source':find_nodes(st['source']),
        'target':find_nodes(st['target']),
        'value':st['value']
    })

In [170]:
[1,2,'er',4,{3:3}].index({3:3})

4

In [171]:
import plotly.graph_objects as go

# Define the nodes and links
# nodes = [
#     {'label': 'Group A'},
#     {'label': 'Group B'},
#     {'label': 'Group C'},
# ]

# links = [
#     {'source': 0, 'target': 1, 'value': 50},   # Flow from Group A to Group B with a value of 50
#     {'source': 0, 'target': 2, 'value': 30},   # Flow from Group A to Group C with a value of 30
#     {'source': 1, 'target': 2, 'value': 20},   # Flow from Group B to Group C with a value of 20
# ]

# Create the Sankey diagram
fig = go.Figure(data=[go.Sankey(
    node=dict(
        pad=15,
        thickness=20,
        line=dict(color='black', width=0.5),
        label=[node['label'] for node in nodes],
        # x=[node['x'] for node in nodes], 
        # y=[node['y'] for node in nodes], 
    ),
    link=dict(
        source=[link['source'] for link in links],
        target=[link['target'] for link in links],
        value=[link['value'] for link in links],
    ),
    # arrangement="fixed"  # Set the arrangement to "fixed"
)])


# Customize the layout
fig.update_layout(
    title='Flow of People between Groups',
    font=dict(size=12, color='black'),
    # Set the figure size
    width=800,
    height=2000
)

# Display the figure
fig.show()

### ete

In [173]:
!pip install ete3

Collecting ete3
  Downloading ete3-3.1.3.tar.gz (4.8 MB)
     ---------------------------------------- 4.8/4.8 MB 1.2 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Installing collected packages: ete3
  Running setup.py install for ete3: started
  Running setup.py install for ete3: finished with status 'done'
Successfully installed ete3-3.1.3

  DEPRECATION: ete3 is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559

[notice] A new release of pip available: 22.3 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [179]:
import ete3
import importlib
importlib.reload(ete3)

In [181]:
!pip uninstall PyQt5
!pip install PyQt4

^C

ERROR: Could not find a version that satisfies the requirement PyQt4 (from versions: none)
ERROR: No matching distribution found for PyQt4

[notice] A new release of pip available: 22.3 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [184]:
from ete3 import Tree, TreeStyle
t = Tree()
t.populate(30)
ts = TreeStyle()
ts.show_leaf_name = True
ts.mode = "c"
ts.arc_start = -180 # 0 degrees = 3 o'clock
ts.arc_span = 180
# t.show(tree_style=ts)
t.render("mytree.svg",)
# t.write('mytree.svg')

'(((aaaaaaaaac:1,(aaaaaaaaad:1,(aaaaaaaaae:1,aaaaaaaaaf:1)1:1)1:1)1:1,((aaaaaaaaag:1,aaaaaaaaah:1)1:1,(aaaaaaaaai:1,aaaaaaaaaj:1)1:1)1:1)1:1,(((aaaaaaaaak:1,aaaaaaaaal:1)1:1,(aaaaaaaaam:1,(aaaaaaaaan:1,aaaaaaaaao:1)1:1)1:1)1:1,(((aaaaaaaaap:1,aaaaaaaaaq:1)1:1,(aaaaaaaaar:1,aaaaaaaaas:1)1:1)1:1,((aaaaaaaaat:1,(aaaaaaaaau:1,(aaaaaaaaav:1,(aaaaaaaaaw:1,(aaaaaaaaax:1,(aaaaaaaaay:1,aaaaaaaaaz:1)1:1)1:1)1:1)1:1)1:1)1:1,((aaaaaaaabb:1,(aaaaaaaabc:1,(aaaaaaaabd:1,aaaaaaaabe:1)1:1)1:1)1:1,(aaaaaaaaaa:1,aaaaaaaaab:1)1:1)1:1)1:1)1:1)1:1);'

### pyvis

In [192]:
from pyvis.network import Network
import networkx as nx

g = Network(notebook=True)
import networkx as nx

# Create a sample DataFrame
df = pd.DataFrame({
    'source': ['Node 1', 'Node 1', 'Node 2', 'Node 3'],
    'target': ['Node 2', 'Node 3', 'Node 3', 'Node 4'],
    'value': [20, 30, 40, 50]
})

# Create an empty graph
G = nx.from_pandas_edgelist(df, 'source', 'target')

# Map node sizes based on 'value' column
node_sizes = [50 * value for value in df['value']]

# Draw the graph
pos = nx.spring_layout(G)
nx.draw(G, pos, with_labels=True, node_color='lightblue', edge_color='gray', node_size=node_sizes)


nxg = nx.complete_graph(4)
g.from_nx(G)
g.save_graph('graph.html')

# nx_graph = nx.cycle_graph(10)
# nx_graph.nodes[1]['title'] = 'Number 1'
# nx_graph.nodes[1]['group'] = 1
# nx_graph.nodes[3]['title'] = 'I belong to a different group!'
# nx_graph.nodes[3]['group'] = 10
# nx_graph.add_node(20, size=20, title='couple', group=2)
# nx_graph.add_node(21, size=15, title='couple', group=2)
# nx_graph.add_edge(20, 21, weight=5)
# nx_graph.add_node(25, size=25, label='lonely', title='lonely node', group=3)
# nt = Network('500px', '500px',notebook=True,cdn_resources='remote')
# # populates the nodes and edges data structures
# nt.from_nx(nx_graph)
# nt.show('nx.html')

Warning: When  cdn_resources is 'local' jupyter notebook has issues displaying graphics on chrome/safari. Use cdn_resources='in_line' or cdn_resources='remote' if you have issues viewing graphics in a notebook.

ModuleNotFoundError: No module named 'matplotlib'

In [20]:
import pandas as pd
import networkx as nx
from pyvis.network import Network

data = {
    'source': ['A', 'B', 'C'],
    'target': ['B', 'C', 'A'],
    'value': [10, 15, 5]
}

df = pd.DataFrame(data)

G = nx.Graph()

for row in df.itertuples(index=False):
    G.add_edge(row.source, row.target, value=row.value)

nt = Network(height='500px', width='800px')
nt.from_nx(G)
# nt.show('network.html')
nt.save_graph('graph.html')

In [78]:
source_target_df.head(20)

                    target                           source   value    y
0                     None                HIDAYAT\n(172827)  172827  0.0
1        HIDAYAT\n(172827)         RAHMAT\nHIDAYAT\n(13974)   13974  0.0
2        HIDAYAT\n(172827)          TAUFIK\nHIDAYAT\n(8481)    8481  0.2
3        HIDAYAT\n(172827)           SARIP\nHIDAYAT\n(5225)    5225  0.4
4        HIDAYAT\n(172827)           YAYAT\nHIDAYAT\n(4898)    4898  0.6
5        HIDAYAT\n(172827)           AHMAD\nHIDAYAT\n(4353)    4353  0.8
6      ASEP\nRAHMAT\n(270)     ASEP\nRAHMAT\nHIDAYAT\n(270)     270  0.0
7       ADE\nRAHMAT\n(127)      ADE\nRAHMAT\nHIDAYAT\n(127)     127  0.2
8      DEDE\nRAHMAT\n(123)     DEDE\nRAHMAT\nHIDAYAT\n(123)     123  0.4
9       AGUS\nRAHMAT\n(82)      AGUS\nRAHMAT\nHIDAYAT\n(82)      82  0.6
10     UJANG\nRAHMAT\n(75)     UJANG\nRAHMAT\nHIDAYAT\n(75)      75  0.8
11  MUHAMAD\nTAUFIK\n(138)  MUHAMAD\nTAUFIK\nHIDAYAT\n(138)     138  1.0
12      ASEP\nTAUFIK\n(91)      ASEP\nTAUFIK\nHIDAYAT\n(91)      91  1.2
13  MUHAMMAD\nTAUFIK\n(83)  MUHAMMAD\nTAUFIK\nHIDAYAT\n(83)      83  1.4
14     AHMAD\nTAUFIK\n(62)     AHMAD\nTAUFIK\nHIDAYAT\n(62)      62  1.6
15      AGUS\nTAUFIK\n(40)      AGUS\nTAUFIK\nHIDAYAT\n(40)      40  1.8
16      ASEP\nSARIP\n(159)      ASEP\nSARIP\nHIDAYAT\n(159)     159  2.0
17      YAYAT\nSARIP\n(69)      YAYAT\nSARIP\nHIDAYAT\n(69)      69  2.2
18        IIP\nSARIP\n(63)        IIP\nSARIP\nHIDAYAT\n(63)      63  2.4
19       DEDE\nSARIP\n(62)       DEDE\nSARIP\nHIDAYAT\n(62)      62  2.6

In [93]:
import pandas as pd
import networkx as nx
from pyvis.network import Network

# data = {
#     'source': ['A', 'B', 'C'],
#     'target': ['B', 'C', 'A'],
#     'value': [20, 15, 5],
#     'node_size': [10, 30, 15]
# }

# df = pd.DataFrame(data)

graph_df = source_target_df.copy()

G = nx.Graph()

for row in graph_df.itertuples(index=False):
    if not row.target:
        continue
    # G.add_edge(row.source, row.target, value=row.value/100)
    G.add_edge(row.source, row.target)
    # G.add_edge(1, 3, weight=7, capacity=15, length=342.7)

# nt = Network(height='500px', width='800px',directed=True)
nt = Network(height='500px', width='800px')

# Add nodes to the network with their respective sizes
for node in G.nodes:
    if node:
        node_size = graph_df.loc[graph_df['source'] == node, 'value'].values[0]
        node_size = int(node_size)
        if node_size > 100000:
            node_size = 40
        elif node_size > 10000:
            node_size = 30
        elif node_size > 1000:
            node_size = 20
        else:
            node_size = 10
        # nt.add_node(node, size=node_size)
        nt.add_node(node, size=node_size)
        # nt.add_node(node)

# Add edges to the network
# for edge in G.edges:
#     nt.add_edge(edge[0], edge[1])
nt.from_nx(G)
nt.save_graph('graph.html')

In [84]:
graph_df

              target                    source   value    y
0               None         HIDAYAT\n(172827)  172827  0.0
1  HIDAYAT\n(172827)  RAHMAT\nHIDAYAT\n(13974)   13974  0.0
2  HIDAYAT\n(172827)   TAUFIK\nHIDAYAT\n(8481)    8481  0.2
3  HIDAYAT\n(172827)    SARIP\nHIDAYAT\n(5225)    5225  0.4

In [117]:
import pandas as pd
import networkx as nx
from pyvis.network import Network

# data = {
#     'source': ['A', 'B', 'C'],
#     'target': ['B', 'C', 'A'],
#     'value': [20, 15, 5],
#     'node_size': [10, 30, 15]
# }

# df = pd.DataFrame(data)

graph_df = source_first_target_df.copy()

G = nx.Graph()

for row in graph_df.itertuples(index=False):
    if not row.target:
        continue
    # G.add_edge(row.source, row.target, value=row.value/100)
    G.add_edge(row.source, row.target)
    # G.add_edge(1, 3, weight=7, capacity=15, length=342.7)

# nt = Network(height='500px', width='800px',directed=True)
nt = Network(height='500px', width='800px')

# Add nodes to the network with their respective sizes
for node in G.nodes:
    if node:
        node_size = graph_df.loc[graph_df['source'] == node, 'value'].values[0]
        node_size = int(node_size)
        if node_size > 500000:
            node_size = 70
        elif node_size > 250000:
            node_size = 50
        elif node_size > 200000:
            node_size = 30
        elif node_size > 15000:
            node_size = 20
        elif node_size > 7000:
            node_size = 10
        else:
            node_size = 5
        # nt.add_node(node, size=node_size)
        nt.add_node(node, size=node_size)
        # nt.add_node(node)

# Add edges to the network
# for edge in G.edges:
#     nt.add_edge(edge[0], edge[1])
nt.from_nx(G)
nt.save_graph('firstname_graph.html')

In [116]:
source_first_target_df.sort_values('value',ascending=False).head(30)

            target                   source   value
0             None           SITI\n(635073)  635073
1             None           ASEP\n(288489)  288489
2             None            ADE\n(256033)  256033
3             None           DEDE\n(246211)  246211
4             None            SRI\n(217163)  217163
5   SITI\n(635073)    SITI\nAMINAH\n(19741)   19741
6   SITI\n(635073)     SITI\nAISAH\n(19570)   19570
7   SITI\n(635073)    SITI\nAISYAH\n(15422)   15422
8   SITI\n(635073)  SITI\nNURJANAH\n(13962)   13962
25   SRI\n(217163)     SRI\nRAHAYU\n(13150)   13150
9   SITI\n(635073)   SITI\nFATIMAH\n(12755)   12755
10  ASEP\n(288489)  ASEP\nSAEPUDIN\n(11808)   11808
26   SRI\n(217163)    SRI\nWAHYUNI\n(11205)   11205
27   SRI\n(217163)     SRI\nMULYANI\n(9432)    9432
28   SRI\n(217163)     SRI\nMULYATI\n(8579)    8579
29   SRI\n(217163)     SRI\nLESTARI\n(4891)    4891
11  ASEP\n(288489)  ASEP\nSUPRIATNA\n(4691)    4691
12  ASEP\n(288489)    ASEP\nMULYANA\n(4160)    4160
13  ASEP\n(288489)     ASEP\nSAEPUL\n(4050)    4050
14  ASEP\n(288489)   ASEP\nSAEPULOH\n(3891)    3891
20  DEDE\n(246211)  DEDE\nSUPRIATNA\n(2643)    2643
21  DEDE\n(246211)   DEDE\nSULAEMAN\n(2558)    2558
15   ADE\n(256033)   ADE\nSUPRIATNA\n(2389)    2389
16   ADE\n(256033)     ADE\nSURYANA\n(2365)    2365
17   ADE\n(256033)      ADE\nRAHMAT\n(2318)    2318
18   ADE\n(256033)      ADE\nIRAWAN\n(2216)    2216
22  DEDE\n(246211)       DEDE\nSITI\n(2099)    2099
23  DEDE\n(246211)     DEDE\nRAHMAT\n(1992)    1992
24  DEDE\n(246211)    DEDE\nMULYANA\n(1940)    1940
19   ADE\n(256033)     ADE\nMULYANA\n(1884)    1884

In [103]:
names[names['1stname']=='SITI']

,nama,unique,1stname,2ndname,3rdname,4thname,5thname,lastname1,lastname2,lastname3,lastname4,lastname5
38,SITI AISAH,NaN,SITI,AISAH,NaN,NaN,NaN,AISAH,SITI,NaN,NaN,NaN
75,SITI HAJAR,NaN,SITI,HAJAR,NaN,NaN,NaN,HAJAR,SITI,NaN,NaN,NaN
85,SITI ZENAB,NaN,SITI,ZENAB,NaN,NaN,NaN,ZENAB,SITI,NaN,NaN,NaN
110,SITI NURJANAH,NaN,SITI,NURJANAH,NaN,NaN,NaN,NURJANAH,SITI,NaN,NaN,NaN
116,SITI NURJANAH,NaN,SITI,NURJANAH,NaN,NaN,NaN,NURJANAH,SITI,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
32049337,SITI AMINAH,NaN,SITI,AMINAH,NaN,NaN,NaN,AMINAH,SITI,NaN,NaN,NaN
32049532,SITI NURLAELAH,NaN,SITI,NURLAELAH,NaN,NaN,NaN,NURLAELAH,SITI,NaN,NaN,NaN
32049536,SITI NURMILAH,NaN,SITI,NURMILAH,NaN,NaN,NaN,NURMILAH,SITI,NaN,NaN,NaN
32049591,SITI HERLINA,NaN,SITI,HERLINA,NaN,NaN,NaN,HERLINA,SITI,NaN,NaN,NaN
32049681,SITI UCIH,NaN,SITI,UCIH,NaN,NaN,NaN,UCIH,SITI,NaN,NaN,NaN

In [104]:
names[names['lastname1']=='PUTRA']

,nama,unique,1stname,2ndname,3rdname,4thname,5thname,lastname1,lastname2,lastname3,lastname4,lastname5
2364,ASEP DIANA PUTRA,NaN,ASEP,DIANA,PUTRA,NaN,NaN,PUTRA,DIANA,ASEP,NaN,NaN
4884,JHONI EKA PUTRA,NaN,JHONI,EKA,PUTRA,NaN,NaN,PUTRA,EKA,JHONI,NaN,NaN
6196,M. GILANG KUSUMA PRATAMA PUTRA,NaN,GILANG,KUSUMA,PRATAMA,PUTRA,NaN,PUTRA,PRATAMA,KUSUMA,GILANG,NaN
6207,AWAL BAKTI SATRIA PUTRA,NaN,AWAL,BAKTI,SATRIA,PUTRA,NaN,PUTRA,SATRIA,BAKTI,AWAL,NaN
6719,ANGGA PRATAMA PUTRA,NaN,ANGGA,PRATAMA,PUTRA,NaN,NaN,PUTRA,PRATAMA,ANGGA,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
32042857,ALFA SABILLA SUGANDA PUTRA,NaN,ALFA,SABILLA,SUGANDA,PUTRA,NaN,PUTRA,SUGANDA,SABILLA,ALFA,NaN
32044456,EKI IRAWAN PUTRA,NaN,EKI,IRAWAN,PUTRA,NaN,NaN,PUTRA,IRAWAN,EKI,NaN,NaN
32044863,ADE PANCA PUTRA,NaN,ADE,PANCA,PUTRA,NaN,NaN,PUTRA,PANCA,ADE,NaN,NaN
32045603,CECEP SUHENA PUTRA,NaN,CECEP,SUHENA,PUTRA,NaN,NaN,PUTRA,SUHENA,CECEP,NaN,NaN
32045755,MOCH EKA PUTRA,NaN,MOCH,EKA,PUTRA,NaN,NaN,PUTRA,EKA,MOCH,NaN,NaN

In [121]:
fav_first_name = names.value_counts('1stname').to_frame().reset_index()
fav_first_name

          1stname   count
0            SITI  635073
1            ASEP  288489
2             ADE  256033
3            DEDE  246211
4             SRI  217163
...           ...     ...
743037     FUNDWI       1
743038  NUSRULLOH       1
743039     FUNFUN       1
743040  NUSROWATI       1
743041        ÝAN       1

[743042 rows x 2 columns]

In [122]:
import plotly.express as px
fig = px.bar(fav_first_name.head(10), x='1stname', y='count',text_auto=True, title='Nama Depan Pasaran')
fig.show()